HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
.mvn
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Aquaman ###
/aquaman-doc/generator-mybatis-admin/src
/aquaman-doc/generator-mybatis-admin/mybatis-generator-core-1.3.7.jar
/aquaman-doc/generator-mybatis-admin/mybatis-generator-core-1.3.7-javadoc.jar
/aquaman-doc/generator-mybatis-admin/mybatis-generator-core-1.3.7-sources.jar
/aquaman-doc/generator-mybatis-admin/mysql-connector-java-5.1.46.jar