HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
.mvn
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Aquaman ###
/aquaman-base/aquaman-common/target
/aquaman-security-os/target
/aquaman-base/code-generator/target
/aquaman-extension/aquaman-kafka/target
/aquaman-extension/aquaman-zookeeper/target
/aquaman-extension/aquaman-redis/target
/aquaman-extension/aquaman-oss/target